@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

body {
    background-color: azure;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1920px;
    padding-left: 35px;
    padding-right: 35px;
}

.header {
    font-size: 32px;
}


.description{
    font-size: 16px
}

li:hover{
    color:grey
}

a{
    text-decoration: none;
}

img{
    width:600px;
    border-radius:10px;
}